b {
    color: rgb(230, 225, 225);
    text-decoration: none; /* no underline */
    }

body{
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
white {
    color: whitesmoke;
}
DO {
    background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #373b44, #4286f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #373b44, #4286f4);
}